body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    border: 2px solid #111111;
    border-radius: 15px;
    max-width: 600px;
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
}
.answer {
    border: 2px solid #111111;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}
#submit {
    width: 420px;
    height: 45px;
    border-radius: 10px;
    font-size: 1.5rem;
    background-color: white;
    color: lightskyblue;
    font-weight: 700;
    cursor: pointer;
}
h1 {
    color: lightskyblue;
}